
# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Proyecto malaria
malaria_dl_local_project/.venv/
malaria_dl_local_project/outputs/
malaria_dl_local_project/tensorflow_datasets/

data/prediction_uploads/*
!data/prediction_uploads/.gitkeep

data/tensorflow_datasets
data/tensorflow_datasets/
tensorflow_datasets
tensorflow_datasets/
*.tfrecord
*.tfrecord*
outputs/

# Frontend
frontend/node_modules/
frontend/dist/

# Backend API
backend_api/.venv/

# Env files
.env
.env.*
!.env.example
!**/.env.example
