MALARIA_DATABASE_URL=postgresql://julio@localhost:5432/malaria_experiments
BACTERIA_DATABASE_URL=postgresql://julio@localhost:5432/bacteria_experiments
ANEMIA_DATABASE_URL=postgresql://julio@localhost:5432/anemia_experiments

ENABLE_MALARIA_DATASOURCE=true
ENABLE_BACTERIA_DATASOURCE=false
ENABLE_ANEMIA_DATASOURCE=false

